body {
    background-color: #111;
    color: #EEE;
}

.card {
    background-color: #0D0D0D;
}

.se-btn-group {
    width: 100%;
}

    .se-btn-group button {
        width: 33.3%;
    }

.symbol {
    display: inline-block;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.symbol-sm {
    display: inline-block;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}

button.btn-light > .symbol {
    filter: invert(100%);
}

.circle { background-image: url(https://cdn.discordapp.com/attachments/801137355230412802/1251533720033165373/circle.svg?ex=666eed1b&is=666d9b9b&hm=e45fdf6800c36c79f76fff5582eccedf11e32dce912fe7b5a38311c0b3b73787&); }
.square { background-image: url(https://cdn.discordapp.com/attachments/801137355230412802/1251534032253223064/square.svg?ex=666eed65&is=666d9be5&hm=b1fc72415aabee6a6ec2d6f844d65fa36c41ea5951c33d4c800b1120978cc98a&); }
.triangle { background-image: url(https://cdn.discordapp.com/attachments/801137355230412802/1251534096056975440/triangle.svg?ex=666eed74&is=666d9bf4&hm=3260d1eedbde19e6c140879354432540a04b3bab5201f5eb96686276135fdbef&); }
.sphere { background-image: url(https://cdn.discordapp.com/attachments/801137355230412802/1251534238088429598/sphere.svg?ex=666eed96&is=666d9c16&hm=7b8bb1ae6ed748567b1b1f42f39e46013105aca1d701893d286ba55b9206a9d8&); }
.cube { background-image: url(https://cdn.discordapp.com/attachments/801137355230412802/1251534298322833409/cube.svg?ex=666eeda5&is=666d9c25&hm=850508bba1eef9e56ca5650d9a32687a0a555c929e77c9d12111cf22fb1f60d8&); }
.pyramid { background-image: url(https://cdn.discordapp.com/attachments/801137355230412802/1251534351141834782/pyramid.svg?ex=666eedb1&is=666d9c31&hm=db2d1d096fbb303eedd40a9cd223c150da06e69f37984e7fdc0940066ca37b5c&); }
.cylinder { background-image: url(https://cdn.discordapp.com/attachments/801137355230412802/1251534405986422815/cylinder.svg?ex=666eedbe&is=666d9c3e&hm=40107d10e33717cd0ddf7261bd21f810fc19f9cd35b3dca1d38000a4f554525c&); }
.prism { background-image: url(https://cdn.discordapp.com/attachments/801137355230412802/1251534473846194249/prism.png?ex=666eedce&is=666d9c4e&hm=7a1f59750ef938f78082279c00fcf0addf4d2648ffd7a143038f1d2192f212ba&); }
.cone { background-image: url(https://cdn.discordapp.com/attachments/801137355230412802/1251534527679954944/cone.svg?ex=666eeddb&is=666d9c5b&hm=dcf8a53801191a9827dfec3af9ca3c7e791e9d991f982aa717e47c406f97d45f&); }