body {
    background-color: #111;
    color: #EEE;
}

.card {
    background-color: #0D0D0D;
}

.se-btn-group {
    width: 100%;
}

    .se-btn-group button {
        width: 33.3%;
    }

.symbol {
    display: inline-block;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.symbol-sm {
    display: inline-block;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}

button.btn-light > .symbol {
    filter: invert(100%);
}

.circle { background-image: url(index_files/circle.svg); }
.square { background-image: url(index_files/square.svg); }
.triangle { background-image: url(index_files/triangle.svg); }
.sphere { background-image: url(index_files/sphere.svg); }
.cube { background-image: url(index_files/cube.svg); }
.pyramid { background-image: url(index_files/pyramid.svg); }
.cylinder { background-image: url(index_files/cylinder.svg); }
.prism { background-image: url(index_files/prism.png); }
.cone { background-image: url(index_files/cone.svg); }
